# -- Database Configuration --
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=

# -- Use postgresql and asyncpg
DB_URL=

# -- Google Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SECRET_KEY=
CALLBACK_URL=